@import './sass/variables';
@import './sass/mixins';
@import './sass/container';
@import './sass/title';
@import './sass/btn';

.chat {
  &__form {
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }
  &__input {
    flex-shrink: 0;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    color: $color-bunting;
    margin: 0 1rem 0 0;
  }
  &__submit {
    width: 100%;
    max-width: 280px;
  }
}
